@import "../../variables";

.blogs-wrapper {
  display: flex;
  flex-flow: column;
}

.blog {
  display: flex;
  flex-flow: column;
  margin-bottom: 100px;
  border-bottom: solid 8px $green-al;
  padding-bottom: 80px;
}

/////////////////////////////////////////////////
// BLOG IMAGE
/////////////////////////////////////////////////

.blog-image {
  //width: 80%;
  margin: auto 10%;
  display: flex;
  flex-flow: column;
}

.image-container {
  display: flex;
  flex-flow: row;

  .image {
    width: 100%;
    padding: 5px;
    img {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

}

.blog-date {
  margin: 10px 0;
}

/////////////////////////////////////////////////
// BLOG BODY
/////////////////////////////////////////////////

.blog-body {
  display: flex;
  flex-flow: row;
}

// TEXT
.text {
  flex: 8;
}

// SIDE BAR
.side-bar {
  display: flex;
  flex-flow: column;
  flex: 2;
  padding-right: 30px;
}

.summary {
  border-top: solid 3px $green-al;

  p {
    padding: 20px 0;
    margin: 0;
  }
}

.links {
  border-top: solid 2px $green-al;
  display: flex;
  flex-flow: column;
  padding: 20px 0;

  a {
    margin: 0;
    text-decoration: none;

    i {
      color: $tope-al;
    }
  }
}

.leave-comment {
  border-top: solid 2px $green-al;
  border-bottom: solid 2px $green-al;
  padding: 20px 0;

  p {
    margin: 0;
  }

  i {
    font-size: 130%;
    font-weight: 400;
    color: $tope-al;
    padding-right: 3px;
  }
}

/////////////////////////////////////////////
// MEDIA QUERIES
/////////////////////////////////////////////

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 336px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 375px) {
  .blog-body {
    display: flex;
    flex-flow: column;
  }

  .text {
    order: 1;
  }

  .side-bar {
    order: 2;
    margin-top: 20px;
    padding: 0 20px;
  }

  h2 {
    font-size: 140%;
    text-align: center;
  }

  p {
    font-size: 60%;
  }

  .text-faded {
    font-size: 50%;
    text-align: center;
  }
}
