<h1>Blogs</h1>
<div class="blogs-wrapper">
  <ng-container *ngFor="let blog of blogs">
    <div class="blog">

      <ng-container *ngFor="let pictures of blog.pictures">
        <div *ngIf="!readerView" class="blog-image">
          <div class="image-container">
            <div class="image">
              <img src="../../assets/images/city-1.jpeg" alt="city-1">
            </div>
          </div>
          <p class="blog-date text-faded">{{pictures[1]}} {{blog.date}}</p>
        </div>
      </ng-container>

      <h2 [ngClass]="{'centred': readerView}">{{blog.title}}</h2>

      <div class="blog-body">
        <div *ngIf="!readerView" class="side-bar">
          <div class="summary">
            <p class="text-faded">
              {{blog.summary}}
            </p>
          </div>

          <div *ngIf="blog.links[0]" class="links">
            <ng-container *ngFor="let link of blog.links">
              <a href="#" class="text-faded links-link">
                <i class="ion-link"></i>
                <p>{{link}}</p>
              </a>
            </ng-container>
          </div>

          <div class="leave-comment">
            <p class="text-faded"><i class="ion-ios-chatbubble"></i>Leave a comment</p>
          </div>

        </div>
        <div class="text">
          <p>
            {{blog.text}}
          </p>
        </div>
      </div>
    </div>
  </ng-container>
</div>
