<div id='cssmenu'>
  <ul>
    <img src="../../../assets/images/call_me_al.png" alt="">
    <li class='last'><a href='#'><span>Audio</span></a></li>
    <li class='last'><a href='#'><span>Sweet Links</span></a></li>
    <li class='has-sub'><a href='#'><span>Beano's Guides</span></a>
      <ul>
        <li><a href='#'><span>Winning At Life</span></a></li>
        <li><a href='#'><span>Hobbies</span></a></li>
        <li class='last'><a href='#'><span>Travel</span></a></li>
      </ul>
    </li>
    <li class='last'><a href='#'><span>Blogs</span></a></li>
    <li class='active'><a href='#'><span>Home</span></a></li>
  </ul>
</div>
