@import "../../variables";

/////////////////////////////////////////////////
// NAV TITLE
/////////////////////////////////////////////////

.nav-title {
  display: flex;
  flex-flow: row;
  flex: 1;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2% 10% 0 10%;

  a {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
    margin-right: 5px;
  }
}

.tab-active {
  background-color: $grey-medium-al;
}

.tab {
  border-radius: 5px 5px 0 0;
  font-size: 140%;
}

/////////////////////////////////////////////////
// NAV BODY
/////////////////////////////////////////////////

.nav-body {
  display: flex;
  flex-flow: column;
  flex: 15;
  align-items: flex-start;
  background-color: $grey-medium-al;
  padding: 5% 10%;
}

/////////////////////////////////////////////////
// NAV MENU
/////////////////////////////////////////////////

ul {
  list-style: none;

  li {
    margin: 5px 0;
  }

  i {
    padding-left: 5px;
  }

  .inner-list {
    margin-left: 10px;
    font-size: 80%;
  }

  a:hover {
    border-bottom: 2px solid $grey-deep-al;
  }
}

.subNav {
  cursor: pointer;

  &::selection {
    background-color: transparent;
  }

  a::selection {
    background-color: transparent;
  }
}

.nav-title {
  a {
    cursor: pointer;

    &::selection {
      background-color: transparent;
    }
  }
}

.underline-link {
  border-bottom: 2px solid $grey-deep-al;
}

a {
  list-style: none;
  color: $black-al;
  text-decoration: none;

  &:visited, :link, :hover {
    text-decoration: none;
    color: $black-al;
  }
}

.logo-img {
  width: 100%;
  height: auto;
  margin-bottom: 5%;
}

/////////////////////////////////////////////////
// SOCIAL MEDIA
/////////////////////////////////////////////////

.social-wrapper {
  display: flex;
  flex-flow: row;
  margin-top: 35px;
  justify-content: space-between;
  padding: 0 5%;
  width: 100%;

  a {
    width: 40px;
    height: 40px;
    border: solid 1px black;
    border-radius: 100%;
    //margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    align-self: stretch;
  }

  .twitter:hover {
    border-color: #00b6f1;
  }

  .facebook:hover {
    border-color: #3b5998;
  }

  .google:hover {
    border-color: #df4a32
  }


  i {
    font-size: 150%;
  }

  .ion-social-facebook {
    color: #3b5998;
  }

  .ion-social-twitter {
    color: #00b6f1;
  }

  .ion-social-googleplus {
    color: #df4a32;
  }
}
