<app-nav></app-nav>
<div class="clearfix"></div>

<router-outlet></router-outlet>

<footer>

  <div class="row">
    <div class="col span-1-of-3">
      <p>
        &copy; My Name Is Al
      </p>
    </div>
    <div class="col span-1-of-3">
      <p>
        Something about something and stuff
      </p>
    </div>
    <div class="col span-1-of-3">
      <p>
        <i class="ion-social-facebook"></i>
        <i class="ion-social-twitter"></i>
        <i class="ion-social-snapchat"></i>
        <i class="ion-social-pinterest"></i>
      </p>
    </div>
  </div>

</footer>

