<div id='cssmenu'>
  <ul>
    <img src="../assets/images/call_me_al.png" alt="">
    <li class='has-sub'><a href='#'><span>Products</span></a>
      <ul>
        <li><a href='#'><span>Product 1</span></a></li>
        <li><a href='#'><span>Product 2</span></a></li>
        <li class='last'><a href='#'><span>Product 3</span></a></li>
      </ul>
    </li>
    <li class='has-sub'><a href='#'><span>About</span></a>
      <ul>
        <li><a href='#'><span>Company</span></a></li>
        <li class='last'><a href='#'><span>Contact</span></a></li>
      </ul>
    </li>
    <li class='last'><a href='#'><span>Contact</span></a></li>
    <li class='active'><a href='#'><span>Home</span></a></li>
  </ul>
</div>

<div class="clearfix"></div>
<app-home></app-home>

<footer>

  <div class="row">
    <div class="col span-1-of-3">
      <p>
        &copy; My Name Is Al
      </p>
    </div>
    <div class="col span-1-of-3">
      <p>
        Something about something and stuff
      </p>
    </div>
    <div class="col span-1-of-3">
      <p>
        <i class="ion-social-facebook"></i>
        <i class="ion-social-twitter"></i>
        <i class="ion-social-snapchat"></i>
        <i class="ion-social-pinterest"></i>
      </p>
    </div>
  </div>

</footer>

