$orange-al: #d35400;
$hard-grey: #333;
$soft-grey: #ddd;
//-------------------------------------
// Footer
//-------------------------------------

footer {
  background-color: $hard-grey;
  color: $orange-al;
  box-shadow: 0 0 3px black;

  p {
    padding: 25px 0;
    text-align: center;
    text-shadow: 0 0 2px black;

    i {
      font-size: 150%;
      padding: 0 8px;
      transition: color 0.2s;
    }

    .ion-social-facebook:hover {
      color: #3b5998;
    }

    .ion-social-pinterest:hover {
      color: #cb2027;
    }

    .ion-social-snapchat:hover {
      color: #fffc00;
    }

    .ion-social-twitter:hover {
      color: #55acee;
    }
  }
}
