$green-al: #1be84a;
$tope-al: #37CC8C;
$grey-al: #fdfcfb;
$grey-medium-al: #f5f4f3;
$grey-deep-al: #15cc3f;
$black-al: #000000;
$base-color: #14120e;

// #1be84a al's old green, bit too bright? up to him?
