<section>
  <div class="row">
    <h1>Home</h1>
  </div>
  <div class="row grey">
    <div class="col span-2-of-3 box">
      <h2>This Week</h2>

      <h3>Quote of the week</h3>
      <p>Dont wipe ones arse with a broken bottle.</p>

      <h3>This weeks goal</h3>
      <p>I should definitely try to not wipe my arse with a broken bottle this week</p>

      <h3>Posts</h3>
      <p>
        My New Sweater<br>
        Long road to ruin<br>
        The joys of iceland<br>
        Chi town baby!
      </p>

      <h3>Plans</h3>
      <p>
        Spend some quality time with the j-dog.
      </p>
    </div>

    <div class="col span-1-of-3 box">
      <img src="../../assets/images/rogan.jpg" alt="Rogan">
    </div>
  </div>
</section>
