<div class="a-blogs-container">
  <h2>Blogs</h2>

  <form>
    <div class="blog-form-item">
      <label for="blog-title">Title</label>
      <input class="blog-title" type="text" id="blog-title">
    </div>

    <div class="blog-form-item">
      <label for="blog-text">Text</label>
      <textarea class="blog-text" id="blog-text">hello</textarea>
    </div>

    <div class="blog-form-item">
      <label for="blog-summary">Summary</label>
      <textarea class="blog-summary" id="blog-summary">hello</textarea>
    </div>

    <div class="form-bottom">
      <div class="form-bottom-inputs">
        <div class="blog-form-item">
          <label for="blog-link">Link</label>
          <input class="blog-link" type="text" id="blog-link">
        </div>

        <div class="blog-form-item">
          <label for="blog-picture">Picture</label>
          <input class="blog-picture" type="text" id="blog-picture">
        </div>

        <div class="blog-form-item">
          <label for="blog-picture-text">Picture Text</label>
          <input class="blog-picture-text" type="text" id="blog-picture-text">
        </div>

        <div class="blog-form-item">
          <div class="btn">
            Add
          </div>
        </div>
      </div>

      <div class="form-bottom-pic">
        <div class="form-pic">
          <img src="../../../assets/images/city-1.jpeg" alt="city-1">
        </div>
      </div>
    </div>
  </form>
</div>
