<div class="a-blogs-container">
  <h2>Blogs</h2>

  <form (ngSubmit)="onSubmitBlog(f)" #f="ngForm">
    <div class="blog-form-item">
      <label for="blog-title">Title</label>
      <input class="blog-title" type="text" id="blog-title" name="blogTitle" ngModel>
    </div>

    <div class="blog-form-item">
      <label for="blog-text">Text</label>
      <textarea class="blog-text" id="blog-text" name="blogText" ngModel>hello</textarea>
    </div>

    <div class="blog-form-item">
      <label for="blog-summary">Summary</label>
      <textarea class="blog-summary" id="blog-summary" name="blogSummary" ngModel>hello</textarea>
    </div>

    <div class="form-bottom">
      <div class="form-bottom-inputs">
        <div class="blog-form-item">
          <label for="blog-link">Link</label>
          <input class="blog-link" type="text" id="blog-link" name="blogLink" ngModel>
        </div>

        <div class="blog-form-item">
          <label for="blog-picture">Picture</label>
          <input class="blog-picture" type="text" id="blog-picture" name="blogPicture" ngModel>
        </div>

        <div class="blog-form-item">
          <label for="blog-picture-text">Picture Text</label>
          <input class="blog-picture-text" type="text" id="blog-picture-text" name="blogPictureText" ngModel>
        </div>

        <div class="blog-form-item">
          <button class="btn" type="submit">
            Add
          </button>
        </div>
      </div>

      <div class="form-bottom-pic">
        <div class="form-pic">
          <img src="../../../assets/images/city-1.jpeg" alt="city-1">
        </div>
      </div>
    </div>
  </form>
</div>
